<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"/>
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"/>
    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- My CSS -->
    <link rel="stylesheet" href="style.css" />
    <title>Belajar Matematika</title>
  </head>
  <body id="home">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"><i class="bi bi-book-half pe-1"></i>Mari Belajar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house-door"></i>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#aritmatika">Aritmatika</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#bangundatar">Bangun Datar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#anggota">Kelompok</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Akhir Navbar -->

    <!-- Jumbotron -->
    <section class="jumbotron text-center">
      <img src="img/logo.jpg" alt="Kurt Ahmad" width="200" class="rounded-circle img-thumbnail"/>
      <h1 class="display-4 fw-bold">Kelompok 6</h1>
      <!-- tulisan judul ada di GSAP -->
      <p class="lead"></p>

      <!-- Gelombang -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ffff" fill-opacity="1"
          d="M0,32L0,64L130.9,64L130.9,288L261.8,288L261.8,128L392.7,128L392.7,64L523.6,64L523.6,256L654.5,256L654.5,32L785.5,32L785.5,128L916.4,128L916.4,0L1047.3,0L1047.3,320L1178.2,320L1178.2,96L1309.1,96L1309.1,256L1440,256L1440,320L1309.1,320L1309.1,320L1178.2,320L1178.2,320L1047.3,320L1047.3,320L916.4,320L916.4,320L785.5,320L785.5,320L654.5,320L654.5,320L523.6,320L523.6,320L392.7,320L392.7,320L261.8,320L261.8,320L130.9,320L130.9,320L0,320L0,320Z">
        </path>
      </svg>
      <!-- Akhir Gelombang -->
    </section>
    <!-- Akhir Jumbotron -->

    <!-- Aritmatika -->
    <section id="aritmatika">
      <div class="container">
        <div class="row text-center mb-3">
          <div class="col">
            <h2>Aritmatika</h2>
          </div>
        </div>
        <div class="row justify-content-around fs-5 text-center">
          <div class="col-md-4" data-aos="fade-right" data-aos-duration="1000">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus
              tempore maiores quam vitae fugit rem nihil, ex at beatae
              perspiciatis.
            </p>
          </div>
          <div class="col-md-4" data-aos="fade-left" data-aos-delay="300">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet
              temporibus laudantium deserunt. Maiores dignissimos id nihil amet
              corporis, laborum explicabo temporibus minima rerum repudiandae
              sapiente.
            </p>
          </div>
        </div>
      </div>
      <!-- Gelombang -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#e2edff" fill-opacity="1"
          d="M0,128L0,224L144,224L144,32L288,32L288,128L432,128L432,64L576,64L576,128L720,128L720,288L864,288L864,32L1008,32L1008,192L1152,192L1152,32L1296,32L1296,128L1440,128L1440,320L1296,320L1296,320L1152,320L1152,320L1008,320L1008,320L864,320L864,320L720,320L720,320L576,320L576,320L432,320L432,320L288,320L288,320L144,320L144,320L0,320L0,320Z">
        </path>
      </svg>
      <!-- Akhir Gelombang -->
    </section>
    <!-- Akhir Aritmatika -->

    <!-- Bangun Datar -->
    <section id="bangundatar">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <h2>Bangun Datar</h2>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-4 mb-3" data-aos="flip-left" data-aos-duration="500">
            <div class="card">
              <img src="img/bangun/segitiga.jpg" class="card-img-top" alt="Segitiga"/>
              <div class="card-body">
                <h5 class="card-title">Segitiga</h5>
                <label class="fs-5 pe-2">Penjelasan</label><a href="#"><i class="bi bi-arrow-right-square-fill text-success fs-3"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3" data-aos="flip-left" data-aos-duration="500" data-aos-delay="100">
            <div class="card">
              <img src="img/bangun/lingkaran.jpg" class="card-img-top" alt="Lingkaran"/>
              <div class="card-body">
                <h5 class="card-title">Lingkaran</h5>
                <label class="fs-5 pe-2">Penjelasan</label><a href="#"><i class="bi bi-arrow-right-square-fill text-success fs-3"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3" data-aos="flip-left" data-aos-duration="500" data-aos-delay="200">
            <div class="card">
              <img src="img/bangun/persegi.jpg" class="card-img-top" alt="Persegi"/>
              <div class="card-body">
                <h5 class="card-title">Persegi</h5>
                <label class="fs-5 pe-2">Penjelasan</label><a href="#"><i class="bi bi-arrow-right-square-fill text-success fs-3"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3" data-aos="flip-left" data-aos-duration="500" data-aos-delay="300">
            <div class="card">
              <img src="img/bangun/keyboard.jpg" class="card-img-top" alt="Keyboard"/>
              <div class="card-body">
                <h5 class="card-title">Keyboard</h5>
                <label class="fs-5 pe-2">Penjelasan</label><a href="#"><i class="bi bi-arrow-right-square-fill text-success fs-3"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3" data-aos="flip-left" data-aos-duration="500" data-aos-delay="400">
            <div class="card">
              <img src="img/bangun/persegipanjang.jpg" class="card-img-top" alt="Persegi Panjang"/>
              <div class="card-body">
                <h5 class="card-title">Persegi Panjang</h5>
                <label class="fs-5 pe-2">Penjelasan</label><a href="#"><i class="bi bi-arrow-right-square-fill text-success fs-3"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Gelombang -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ffff" fill-opacity="1"
          d="M0,128L0,64L144,64L144,32L288,32L288,160L432,160L432,224L576,224L576,64L720,64L720,0L864,0L864,256L1008,256L1008,32L1152,32L1152,320L1296,320L1296,64L1440,64L1440,320L1296,320L1296,320L1152,320L1152,320L1008,320L1008,320L864,320L864,320L720,320L720,320L576,320L576,320L432,320L432,320L288,320L288,320L144,320L144,320L0,320L0,320Z">
        </path>
      </svg>
      <!-- Akhir Gelombang -->
    </section>
    <!-- Akhir Bangun Datar -->

    <!-- Anggota -->
    <section id="anggota">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <h2>Anggota Kelompok</h2>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-4 mb-3 anggota">
            <div class="card">
              <img src="img/bangun/keyboard.jpg" class="card-img-top" alt="Alfonso"/>
              <div class="card-body">
                <h5 class="card-title">Alfonso</h5>
                <i class="bi bi-instagram text-danger fs-1"></i>
                <i class="bi bi-twitter text-primary fs-1 ps-2"></i>
                <i class="bi bi-facebook text-primary fs-1 ps-2"></i>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3 anggota">
            <div class="card">
              <img src="img/bangun/keyboard.jpg" class="card-img-top" alt="Daffa"/>
              <div class="card-body">
                <h5 class="card-title">Daffa</h5>
                <i class="bi bi-instagram text-danger fs-1"></i>
                <i class="bi bi-twitter text-primary fs-1 ps-2"></i>
                <i class="bi bi-facebook text-primary fs-1 ps-2"></i>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3 anggota">
            <div class="card">
              <img src="img/bangun/keyboard.jpg" class="card-img-top" alt="Apri"/>
              <div class="card-body">
                <h5 class="card-title">Apri</h5>
                <i class="bi bi-instagram text-danger fs-1"></i>
                <i class="bi bi-twitter text-primary fs-1 ps-2"></i>
                <i class="bi bi-facebook text-primary fs-1 ps-2"></i>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3 anggota">
            <div class="card">
              <img src="img/bangun/keyboard.jpg" class="card-img-top" alt="Ranaldi"/>
              <div class="card-body">
                <h5 class="card-title">Renaldi</h5>
                <i class="bi bi-instagram text-danger fs-1"></i>
                <i class="bi bi-twitter text-primary fs-1 ps-2"></i>
                <i class="bi bi-facebook text-primary fs-1 ps-2"></i>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3 anggota">
            <div class="card">
              <img src="img/bangun/keyboard.jpg" class="card-img-top" alt="Ahmad Kurtubi"/>
              <div class="card-body">
                <h5 class="card-title">Ahmad Kurtubi</h5>
                <i class="bi bi-instagram text-danger fs-1"></i>
                <i class="bi bi-twitter text-primary fs-1 ps-2"></i>
                <i class="bi bi-facebook text-primary fs-1 ps-2"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Gelombang footer -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#0d6efd" fill-opacity="1"
          d="M0,128L0,224L144,224L144,0L288,0L288,224L432,224L432,256L576,256L576,288L720,288L720,160L864,160L864,224L1008,224L1008,256L1152,256L1152,64L1296,64L1296,224L1440,224L1440,320L1296,320L1296,320L1152,320L1152,320L1008,320L1008,320L864,320L864,320L720,320L720,320L576,320L576,320L432,320L432,320L288,320L288,320L144,320L144,320L0,320L0,320Z">
        </path>
      </svg>
      <!-- akhir gelombang footer -->
    </section>
    <!-- Akhir Anggota -->

    <!-- Footer -->
    <footer class="bg-primary text-white text-center pb-3">
      <p>Created by group 6</p>
      <i class="bi bi-hand-thumbs-up fs-2 text-warning"></i><i class="bi bi-emoji-sunglasses text-warning fs-1"></i>
    </footer>
    <!-- Akhir Footer -->
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <!-- AOS js -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      // myscript
      const anggota = document.querySelectorAll(".anggota");
      anggota.forEach((foto, i) => {
        foto.dataset.aos = "fade-down";
        foto.dataset.aosDelay = i * 100;
        foto.dataset.aosDuration = 1000;
      });

      AOS.init();
    </script>

    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/TextPlugin.min.js"></script>
    <!-- Script tambahan GSAP -->
    <script>
      gsap.registerPlugin(TextPlugin);
      gsap.to(".lead", {
        duration: 2,
        delay: 1.5,
        text: "Pembelajaran Aritmatika dan Bangun Datar untuk anak TK dan SD",
      });
      gsap.from(".jumbotron img", {
        duration: 5,
        rotateY: 360,
        opacity: 0,
        ease: "elastic",
      });
      gsap.from(".navbar", {
        duration: 2,
        y: "-100%",
        opacity: 0,
        ease: "elastic",
      });
      gsap.from(".display-4", {
        duration: 1,
        x: -50,
        opacity: 0,
        delay: 0.5,
        ease: "back",
      });
    </script>
  </body>
</html>
